@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Fonts */
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: var(--font-mono);

  /* Customized Typography text-presets */

  /*
  text-xs - Text Preset 6 - fs 10px / lh 100% / ls 0px / fw Regular
  text-sm - Text Preset 5 - fs 12px / lh 120% / ls 0.5px / fw Regular
  text-md - Text Preset 5 Medium - fs 12px / lh 130% / ls 0.5px / fw Medium
  text-lg - Text Preset 4 - fs 14px / lh 120% / ls 1px / fw Regular
  text-xl - Text Preset 3 Regular + Medium - fs 16px / lh 120% / ls 1px / fw Medium + fw Regular
  text-2xl - Text Preset 3 Bold - fs 16px / lh 110% / ls 1px / fw Bold
  text-3xl - Text Preset 2 - fs 20px / lh 120% / ls -0.5px / fw Regular
  text-4xl - Text Preset 2 Bold - fs 20px / lh 140% / ls -0.5px / fw Bold
  text-5xl - Text Preset 1 Tablet - fs 32px / lh 100% / ls -0.5px / fw Bold
  text-6xl - Text Preset 1 - fs 40px / lh 100% / ls -0.5px / fw Bold
  */

  --text-xs: 0.625rem;
  --text-xs--line-height: 100%;
  --text-xs--letter-spacing: 0px;

  --text-sm: 0.75rem;
  --text-sm--line-height: 120%;
  --text-sm--letter-spacing: 0.5px;

  --text-md: 0.75rem;
  --text-md--line-height: 130%;
  --text-md--letter-spacing: 0.5px;

  --text-lg: 0.875rem;
  --text-lg--line-height: 120%;
  --text-lg--letter-spacing: 1px;

  --text-xl: 1rem;
  --text-xl--line-height: 120%;
  --text-xl--letter-spacing: 1px;

  --text-2xl: 1rem;
  --text-2xl--line-height: 110%;
  --text-2xl--letter-spacing: 1px;

  --text-3xl: 1.25rem;
  --text-3xl--line-height: 120%;
  --text-3xl--letter-spacing: -0.5px;

  --text-4xl: 1.25rem;
  --text-4xl--line-height: 140%;
  --text-4xl--letter-spacing: -0.5px;

  --text-5xl: 2rem;
  --text-5xl--line-height: 100%;
  --text-5xl--letter-spacing: -0.5px;

  --text-6xl: 2.5rem;
  --text-6xl--line-height: 100%;
  --text-6xl--letter-spacing: -0.5px;
}

@theme static {
  /* default tailwind colors - https://uicolors.app/tailwind-colors */

  /* gray (neutral) */
  --color-custom-gray-50: #e1e1e1;
  --color-custom-gray-100: #c6c6c6;
  --color-custom-gray-200: #9d9d9d;
  --color-custom-gray-300: #454547;
  --color-custom-gray-400: #3d3d3d;
  --color-custom-gray-500: #2e2e2e;
  --color-custom-gray-600: #202022;
  --color-custom-gray-700: #171719;
  --color-custom-gray-900: #0a0a0a;
  --color-custom-gray-950: #000000;

  /* lime (primary) */
  --color-lime-100: #f5fdd7;
  --color-lime-200: #ebfcb0;
  --color-lime-300: #e2fa88;
  --color-lime-400: #d8f961;
  --color-lime-500: #cef739;
  --color-lime-600: #a5c62e;
  --color-lime-700: #7c9422;
  --color-lime-800: #526317;
  --color-lime-900: #29310b;
  /* --color-lime-800: #283300; */

  --color-green-500: #42eb05;

  --color-red-500: #ff4141;

  /* Customized border radius values */
  --radius-xs: 4px; /* originally 0.125rem (2px) */
  --radius-sm: 6px; /* originally 0.25rem (4px) */
  --radius-md: 8px; /* originally 0.375rem (6px) */
  --radius-lg: 10px; /* originally 0.5rem (8px) */
  --radius-xl: 12px; /* originally 0.75rem (12px) */
  --radius-2xl: 16px; /* originally 1rem (16px) */
  --radius-3xl: 20px; /* originally 1.5rem (24px) */
  --radius-4xl: 24px; /* originally 2rem (32px) */
}

:root {
  --ui-radius: 8px;

  --ui-primary: var(--ui-color-primary-700);
  --ui-success: var(--color-green-600);
  --ui-error: var(--color-red-600);

  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: white;

  --ui-bg: white;
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);

  --ui-border: var(--ui-color-neutral-100);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-600);
  --ui-border-inverted: var(--ui-color-neutral-900);

  --vis-font-family: var(--font-mono);
}

.dark {
  /* --ui-primary: var(--color-lime-500); */
  --ui-primary: var(--ui-color-primary-500);
  --ui-success: var(--color-green-500);
  --ui-error: var(--color-red-500);

  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: white;
  --ui-text-inverted: var(--ui-color-neutral-900);

  /* --ui-bg: var(--color-neutral-900); */
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-700);
  --ui-bg-elevated: var(--ui-color-neutral-600);
  --ui-bg-accented: var(--ui-color-neutral-500);
  --ui-bg-inverted: white;

  --ui-border: var(--ui-color-neutral-600);
  --ui-border-muted: var(--ui-color-neutral-500);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: white;
}
